<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.badrjobs">

    <application
        android:name="bader.cutShort.badrjobs.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="bader.cutShort.badrjobs.Activity.EmailUpdate"></activity>
        <activity android:name="bader.cutShort.badrjobs.Activity.Gallery" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.Splash2"
            android:theme="@style/SplashScreenTheme" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ImageViewer" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ContractImage" />
        <activity android:name="bader.cutShort.badrjobs.Activity.MyAds" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ConfirmPhoneReset" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ResetPhone" />
        <activity android:name="bader.cutShort.badrjobs.Activity.NickNameEdit" />
        <activity android:name="bader.cutShort.badrjobs.Activity.SignatureForm1" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.SignatureDraw"
            android:screenOrientation="landscape" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.SignatureForm2"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="bader.cutShort.badrjobs.Activity.PrevContracts" />
        <activity android:name="bader.cutShort.badrjobs.Activity.CustomProfileActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ProfileEdit" />
        <activity android:name="bader.cutShort.badrjobs.Activity.PaymentPackage" />
        <activity android:name="bader.cutShort.badrjobs.Activity.AdsDetails" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ChattingActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.TestingAc" />
        <activity android:name="bader.cutShort.badrjobs.ChatClasses.MainCustomChatList" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.AddJob"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="bader.cutShort.badrjobs.Activity.BlockedUsersActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.FavoriteActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.UserViewedProfile" />
        <activity android:name="bader.cutShort.badrjobs.Activity.BlockedUser" />
        <activity android:name="bader.cutShort.badrjobs.Activity.DeleteAccount" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.ConfirmDeal"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="bader.cutShort.badrjobs.Activity.AboutActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.ContactUs" />
        <activity android:name="bader.cutShort.badrjobs.Activity.NotificationDetails" />
        <activity android:name="bader.cutShort.badrjobs.Activity.NotificationActivity">
            <intent-filter>
                <action android:name="NotificationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="bader.cutShort.badrjobs.Activity.ConfirmPhone"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="bader.cutShort.badrjobs.Activity.MenuActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.AdsActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.SubDeptActivity" />
        <activity android:name="bader.cutShort.badrjobs.Activity.DeptsActivity" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.Splash"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bader.cutShort.badrjobs.Activity.ResetPassword2"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.ResetPassword1"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.Register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="bader.cutShort.badrjobs.Activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="bader.cutShort.badrjobs.Utils.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="bader.cutShort.badrjobs.Utils.FireBaseService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE " />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>